

#header{
      -webkit-box-shadow: 4px 4px 9px 2px rgba(76, 175, 80, 0.62);
    -moz-box-shadow: 4px 4px 9px 2px rgba(76, 175, 80, 0.62);
    box-shadow: 4px 4px 9px 2px rgba(76, 175, 80, 0.62);
    box-shadow: 4px 4px 9px 2px rgba(76, 175, 80, 0.62);
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.mt200{
    margin-top: 300px;
}

#services img{
    width: 51px;
}

#mt110{
    margin-top: 110px;
}

.page-title .myc{
    color:#4caf50;
}

#pb0{
    padding-bottom: 0;
}

.pt0{
    padding-top: 0;
}

#contact{
    color: white;
}

.instruction{
    font-style: italic;
    color: black;
}

#gender{
    width: 100%;
    height: 37px;
    border: 1px solid #e1e1e1;
}

.smalll{
    font-size: 12px;
    color: #ec5538;
    color: #4caf50;
}

#bottom #foot{
    padding: 38px 0;
    padding-bottom: 3px;
}

#footnote #bottom{
    padding-top: 0;
}

#services #content{
    margin-top: 40px;
}

.parrent .tab-content{
    margin-top: 30px;
}

.tleft{
    text-align: left;
}


#testimonials{
    padding-bottom: 50px;
    background: #e6e6e6;
}

.owl-stage{
    margin: 0 auto;
}

.slider-title{
    font-weight: 100;
    font-size: 12px;
    font-style: oblique;
    font-family: monospace;
}

.contact-box{
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    border-radius: 4px;
}

.contact-box .fa{
        font-size: 30px;
    color: #4caf50;
    border-radius: 50%;
    padding-top: 40px;
    text-align: center;
    padding-right: 20px;
}

.me{
    list-style-type: none;
}

#mb0{
    margin-bottom: 0;
}

#fred-bar{
    margin: 0;
    border-top: 1px solid white;
    padding: 7px 0 0 0;
    background: black;
}

#fred-bar a:hover{
  color: #fff;
}

h6 > img{
    width: 40px;
}


.result_container,
.fail_container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
    display: none;
}

#no_border{
    border: 0;
}

.result_row{
    max-width: 350px;
    margin: 40vh auto 0 auto;
    height: 200px;
}

.result_container .single-pricing,
.fail_container .single-pricing{
    padding: 50px 10px;
}

.alert-box{
    position: fixed;
    right: 0;
    top: 20vh;
    background: #e86d55;
    padding: 20px 20px 10px 20px;
    color: #fff;
    font-size: 13px;
    -webkit-box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.53);
    -moz-box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.53);
    box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.53);
    max-width: 93vw;
    display: none;
}

.closed{
    padding-left: 10px;
    cursor: pointer;
}


.navbar-inverse .navbar-brand:hover,
 .navbar-inverse .navbar-brand:focus {
    color:#4caf50;
}
